			.selector{
				width: 150px;
				float: left;
				margin-right: 10px;
				margin-bottom: 0px;
				margin-left: 0px;
			}
			.htooltip{
				display: inline-block;
			}
			.htooltip .reset { 
				background-color: rgba(0,0,0, 0.8);
				border-radius: 15px 15px 15px 0px;
				box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
				display: inline-block;
				color: #fff;
				margin-left: 2px;
				margin-top: -55px;
				opacity: 0; 
				padding: 10px 10px 10px 10px;
				position: absolute;
				text-decoration: none;
				visibility: hidden; 
				z-index: 10;
			}	
			.htooltip:hover .reset { 
				opacity: 1;
				visibility: visible;
			}
			#artkli-massa, #artkli-volume{
				width: 250px;
			}
			.calc{
				float: left;
				vertical-align: middle;
				width: 420px;
				padding: 0px;
			}
			a{
				text-decoration: none;
			}
			table{
				display: inline-block;
				border: none;
			}
			tbody{
				border:none;
			}
			#artkli-chooser{
				float: left;
				margin-right: 45px;
				padding-top: 12px;
			}
			.input2, #artkli-choose_way{
				padding: 2px;

			}
			.artkli-custom-select{
				width: 130px;
				height: 40px;
				overflow: hidden;
				border-radius: 5px;
				box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
				background: #f7f7f7;
				float: left;
				margin-right: 10px;
			}
			.artkli-custom-button input{
				width: 110px;
				height: 40px;
				overflow: hidden;
				border-radius: 100%;
				background: #f7f7f7;
				box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
				font: 15px Arial;
				outline: 0;
				padding: 1px 3px;
				display: inline-block;
				margin-right: 10px;
				text-align: center;
			}
			.input{
				margin: 0px;
				margin-top: 0px;
				float: left;
			}
			.artkli-custom-input input{
				width: 120px;
				height: 25px;
				overflow: hidden;
				border-radius: 5px;
				box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
				font: 15px Arial;
				outline: 0;
				padding: 3px 5px;
				display: inline-block;
			}
			.artkli-footer {
			  height:1px;
			  clear: both;
			  display: inline-block;
			  text-align: left;
			}
			.artkli-hidden { 
				display: none; 
			} 
			.col-sm-10, #artkli-massa, #artkli-volume{
				width: 200px;
				margin-left: 0px; 
			}
			.layer1 {
				float: left; /* Обтекание по правому краю */
				border: 0px; /* Параметры рамки */
				padding: 5px; /* Поля вокруг текста */
				margin-right: 10px; /* Отступ справа */
				width: 550px; /* Ширина блока */
			}
			.layer2 {
				float: left; /* Обтекание по правому краю */
				text-align: left;
				align-content: left;
				border: 0px ; /* Параметры рамки */
				padding: 5px; /* Поля вокруг текста */
				margin-right: 0px; /* Отступ справа */
				width: 450px; /* Ширина блока */
				margin-top: 10px;
				display: inline-block;
			}
			.layer3 {
				float:left; /* Обтекание по правому краю */
				border: 0px ; /* Параметры рамки */
				padding: 5px; /* Поля вокруг текста */
				margin-right: 0px; /* Отступ справа */
				width: 150px; /* Ширина блока */
				margin-top: 10px;
			}
			.layer4 {
				float:left; /* Обтекание по правому краю */
				border: 0px ; /* Параметры рамки */
				padding: 5px; /* Поля вокруг текста */
				margin-right: 0px; /* Отступ справа */
				width: 250px; /* Ширина блока */
				margin-top: 10px;
			}
			.cities{
				display: inline-block;
				padding: 5px;
				width: 100%;
				margin: 0px;
				vertical-align: middle;
			}
			#artkli-choose_way{
				margin: 10px;
			}